<div class="center jumbotron">
  <h1>Welcome to <%= competition_name %></h1>

	<div class="row">
	<%= link_to image_tag("mcpa-black.png", width: '80%', alt: "TS13 Pen-test Logo", 
												class: "center col-sm-12 col-md-6 col-md-offset-3"),'http://localhost' %>
	</div>
  <h2>
    This is the home page for the 
    
    scoring server application developed by TS13 Pen-Test Team. 
  </h2>

	<% if registration_active? %>
  	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
	<% else %>
		<% if competition_started? %>
			<h3>Registration closed!</h3>
		<% else %>
			<h3>Registration hasn't opened yet, check back soon!</h3>
		<% end %>
	<% end %>
</div>

