<h4 style="color: green;">Screenshot uploaded successfully.</h4>

<h3>The screenshots will appear the next time you reload the report.</h3>
<h3>Be sure to save any changes in progress first!</h3>

<br>
<h4>Please close this window to return to your report.</h4>
