<div class="penetrations penetrations_toggle">
  <% f.object.to_h.each do |vulnerability_id, penetration| %> <!-- enumerated services (i.e., each of the servers we have found)-->
    <%= f.fields_for vulnerability_id do |penetration_instance| %>
    <hr>
      <%= render 'new_penetration_markup', report: @report, existing_penetration: penetration, vulnerability_id: vulnerability_id %>
    <% end %>
    <% end %>
</div>

<br>
  <%= link_to 'Add New Successful Penetration Log', add_new_penetration_path(@report.id), remote: true, class: 'btn btn-primary' %>
<hr>

<script type="text/javascript">
  $('a.delete').click (function(){
    if(confirm("Are you sure?")){
      var screenshot = $(this).closest("div").get(0);
      $.post(this.href, {_method:'delete'}, null, "script");
      $(screenshot).hide();
      return false;
    } else {
      //they clicked no.
      return false;
    }
  });

  $('.remove-penetration').click( function(e) {
    e.preventDefault();
    if (confirm("Are you sure? This will permanenty delete this penetration log.")) {
      var penetration_id = $(this).data('penetration-id');
      $.post(this.href, {_method:'delete'}, null, "script");
      $(this).closest(".well").hide();
      return false;
    } else {
      //they clicked no.
      return false;
    }
  });
</script>
